
.btn-red {
  background-color: rgb(155, 19, 19);
  color: gold;
  font-weight: 700;
}

.btn-red:hover {
  background-color: rgb(108, 29, 29);
  color: gold;
}
.movie_info{
  display: none;
}
.movie_item:hover .movie_info{
  display:block;
}
.screen_lg {
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
}
.screen {
  filter: drop-shadow(4px 20px 10px rgba(255, 255, 255, 0.5));
}
